
*{
    padding: 0;
    margin: 0;
    
}
h1{
    padding-top: 3rem;
    color: rgb(66, 40, 40);
}
body{
    background-color: yellowgreen;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;

    align-items: center;
    justify-content:center;
}

.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    align-items: center;
    justify-content:center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    background-color: #ffffc7;
    color: rgb(66, 40, 40);
}

.new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    background-color: #ffffc7;
    color: rgb(66, 40, 40);
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
    color: rgb(66, 40, 40);
}

.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

